/* allCharacter css start */

.all-character{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px auto;

}

.all-character__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.all-character__bottom {
    margin: 1% auto;
}
.all-character__bottom button{

    font-size: 1rem;
}


.all-character__inputBox input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    padding: 3px;
}

/* allCharacter css end */


/*single-character-preview  css start */

.single-character-preview{
    width: 270px;
    background-color: var(--back-color);
    box-shadow: 0px 0px 5px #aea3a3,
    0px 0px 5px #aea3a3,
    0px 0px 5px #aea3a3;
    margin: 2%;
    border-radius: 13px;

}

.single-character-preview a{
    color: inherit;
    text-decoration: none;
}

.single-character-preview:hover {
    cursor: pointer;
}



.single-character-preview__img{
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
 
    
}   

.single-character-preview__img img{
    width:70%;
    height: 50%;
   transform:  scale(1);
   transition: all .7s ease;
}
.single-character-preview__img img:hover{
  transform: scale(2);
}

.single-character-preview__details{
    width:70%;
    margin: auto;
}

.single-character-preview__details p{
   margin: 0px!important; 
   padding: 3px;
}

/*single-character-preview  css end */

/*show-single-character css start  */

.show-single-character{
    display: flex;
    box-shadow: var(--box-shadow);
    border-radius: 13px;
    width: 50%;
    overflow: hidden;
 
   
}

.show-single-character__details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-single-character__img img{
    width: 70%;
    height: 100%;
}
.show-single-character__details p{
    margin: 0px;

}

/*show-single-character css end  */


@media screen and (max-width:700px){
.show-single-character{
    flex-direction: column;
    align-items: flex-start;
    width: 57%;
}
.show-single-character__img{
   display: flex;
   justify-content: center;
   align-items: center;
}
.show-single-character__details{
    width: 100%;
}
}