/* all-episode css start */
.all-episode{
    width: 90%;
    margin: auto;
}
.all-episode input{
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid black;
    width: 90%;
    padding: 5px;
    margin: auto;
    
}
.all-episode__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

/* all-episode css end */



/* show-single-episode css start */

.show-single-episode{
    width: 90%;
    margin: auto;
}
.show-single-episode p{
    font-weight: 500;
}
.show-single-episode__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* show-single-episode css end */

/* single-episode-previewer css start */
.single-episode-previewer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: 13px;
    margin: 1%;
}

.single-episode-previewer a{
    color: inherit;
    text-decoration: none;
}

.single-episode-previewer div p{
    font-size: 1.3rem;
}

/* /* single-episode-previewer css end */